.toggleRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}

.version {
  margin-top: 10px;
  font-size: 10px;
  opacity: 0.5;
}